################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApp
/ResourceAndBooking/bin/Debug/net9.0
/ResourceAndBooking/obj/Debug/net9.0
/ResourceAndBooking/ResourceAndBooking.csproj.user
